<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container w-75 bg-light mt-4  shadow" style="background-color: #3D0814;">
        <div class="row align-items-stretch text-center">
            <div class="col login-bg p-3 rounded">
                <div class="text-end py-1 text-center">
                    <img src="assets/img/userinyerface-logo.png" width="300" alt="">
                </div>
                <br>
                <h2 class="fw-bold text-center py-2">User In(y)terface</h2>
                <br>
                <p class="text-center">Bienvenido a una experiencia amigable para el usuario :)</p>
                <br>
                <br>
                <button [routerLink]="['/session/']" class="btn btn-lg btn-red">Continuar</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>