<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap -->
  <link href="" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
  <div class="container-fluid">
    <!-- Start: Header -->
    <div class="row hero-header" id="home">
      <div class="col-md-7">
        <img src="assets/img/userinyerface-logo.png" class="logo">
        <h1>Una experiencia amigable para el usuario :)</h1>
        <a href="#" class="btn btn-lg btn-red">Continuar <span class="ti-arrow-right"></span></a>

      </div>
      <div class="col-md-5 hidden-xs">
        <img src="assets/img/rocket.png" class="rocket animated bounce">
      </div>
    </div>
    <!-- End: Header -->
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="js/validator.js"></script>
</body>
</html>